/* Multi Styles */

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

#mission,
#featured-tea,
#locations {
	margin: auto;
}

/* Header */

header {
	background-color: black;
	height: 69px;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid seashell;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
}

.head-left {
	height: 50px;
	margin-right: 100px;
	margin-left: 10px;
}


.head-left img {
	height: 100%;
}

.head-right {
	display: flex;
	min-width: 400px;
	margin-right: 10px;
}

.head-right span {
	margin-left: 20px;
    color: seashell;
    opacity: 0.9;
}

header a {
	color: seashell;
}

/* Mission */

#mission {
	background-image: url('../images/img-mission-background.jpg');
	height: 700px;
	width: 1200px;
	margin-top: 69;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mission-container {
	background-color: black;
	width: 100%;
	padding-top: 0;
}

/* Featured Tea */

#featured-tea {
	margin: auto;
	width: 1000px;
	min-width: 900px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.tea-box {
	height: 200px;
	width: 300px;
	margin-right: 15px;
	margin-left: 15px;
	padding-bottom: 70px;
}

.discript-box {
	width: 100%;
	padding-top: 50px;
}

span img {
	height: 200px;
	width: 300px;
}

.tea-box h4 {
	margin-top: 15px;
}

/* Locations */

#locations {
	background-image: url('../images/img-locations-background.jpg');
	/* I know the spec sheet said "Width: 500" but that size appears to small (570px looked correct). I wasn't sure what to do */
	height: 500px;
	width: 1200px;
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.locations-descript {
	width: 100%;
	margin-bottom: 10px;
}

.locations-descript h2 {
	margin: 0;
	padding: 0;
}

.locations-item {
    width: 300px;
    height: 300px;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.locations-item  h4 {
	margin-top: 0;
}

/* Footer */

footer {
	height: 200px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

footer h5 {
	margin-top: 3px;
}

footer h2 {
	margin-bottom: 40px;
}

/* Copyright */

.copyright h5 {
	text-align: left;
	margin: 20px;
}